.total__title {
  margin: 0 0 var(--spacing-xs) 0;
  font-size: var(--body-1);
  line-height: var(--body-1-lh);
  font-weight: 500;
}
.total__value {
  margin: 0;
  font-size: var(--number-1);
  line-height: var(--number-1-lh);
  font-weight: 500;
}

.total__difference {
  margin: var(--spacing-xxxs) 0 0 0;
}
.total__positive {
  color: var(--text-green-light);
}
.total__negative {
  color: var(--text-red-light);
}
.total__empty {
  color: var(--text-secondary-light);
}

@media (prefers-color-scheme: dark) {
  .total__positive {
    color: var(--text-green-dark);
  }
  .total__negative {
    color: var(--text-red-dark);
  }
  .total__empty {
    color: var(--text-secondary-dark);
  }
}
