.recharts-cartesian-grid line {
  stroke: var(--border-secondary-light);
}
.recharts-cartesian-axis-line {
  stroke: var(--border-primary-light);
}
.recharts-cartesian-axis-tick-value {
  font-size: var(--body-2);
  line-height: var(--body-2-lh);
  fill: var(--text-secondary-light);
}

.recharts-hide-active-dots .recharts-active-dot {
  visibility: hidden;
}

.recharts-curve.recharts-tooltip-cursor {
  stroke: var(--border-primary-light);
}
.recharts-rectangle.recharts-tooltip-cursor {
  fill: none;
}

.recharts-label-list .recharts-label {
  font-size: var(--body-2);
  line-height: var(--body-2-lh);
  fill: var(--text-primary-light);
}

@media (prefers-color-scheme: dark) {
  .recharts-cartesian-grid line {
    stroke: var(--border-secondary-dark);
  }
  .recharts-cartesian-axis-line {
    stroke: var(--border-primary-dark);
  }
  .recharts-cartesian-axis-tick-value {
    fill: var(--text-secondary-dark);
  }
  .recharts-active-dot .recharts-dot {
    stroke: var(--background-secondary-dark);
  }
  .recharts-curve.recharts-tooltip-cursor {
    stroke: var(--border-primary-dark);
  }
  .recharts-label-list .recharts-label {
    fill: var(--text-primary-dark);
  }
  .recharts-area {
    opacity: 0.9;
  }
}
