header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-s) var(--spacing-m);
}

main {
  padding: var(--spacing-m) var(--spacing-xxxl);
}

footer {
  padding: var(--spacing-xl) var(--spacing-xxxl);
  color: var(--text-secondary-light);
}

.first {
  margin-top: 0;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
}

.avatars {
  display: flex;
}

.avatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: calc(var(--spacing-xs) * -1);
}

.breadcrumbs {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 var(--spacing-xl);
  list-style: none;
  color: var(--text-secondary-light);
}
.breadcrumbs__item {
  margin: 0;
}
.breadcrumbs__item:not(:last-child)::after {
  margin: 0 var(--spacing-xxs);
  content: ">";
}
.breadcrumbs__link {
  color: var(--text-primary-light);
}

.error-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: var(--spacing-m);
  background-color: var(--background-secondary-light);
  border-radius: var(--border-radius-s);
  font-family: "SF Mono", "PT Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  footer {
    color: var(--text-secondary-dark);
  }
  .breadcrumbs {
    color: var(--text-secondary-dark);
  }
  .breadcrumbs__link {
    color: var(--text-primary-dark);
  }
  .error-text {
    background-color: var(--background-secondary-dark);
  }
}
