header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-s) var(--spacing-m);
}

main {
  padding: var(--spacing-m) var(--spacing-xxxl);
}

footer {
  padding: var(--spacing-xl) var(--spacing-xxxl);
  color: var(--text-secondary-light);
}

.first {
  margin-top: 0;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
}

.avatars {
  display: flex;
}

.avatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: calc(var(--spacing-xs) * -1);
}

.card {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-s);
  border-radius: var(--border-radius-s);
  background: var(--background-secondary-light);
}
.card__cutoff {
  margin: 0 calc(var(--spacing-s) * -1) calc(var(--spacing-s) * -1)
    calc(var(--spacing-s) * -1);
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.cards {
  display: flex;
  gap: var(--spacing-s);
}

.breadcrumbs {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 var(--spacing-xl);
  list-style: none;
  color: var(--text-secondary-light);
}
.breadcrumbs__item {
  margin: 0;
}
.breadcrumbs__item:not(:last-child)::after {
  margin: 0 var(--spacing-xxs);
  content: ">";
}
.breadcrumbs__link {
  color: var(--text-primary-light);
}

@media (prefers-color-scheme: dark) {
  footer {
    color: var(--text-secondary-dark);
  }
  .card {
    background: var(--background-secondary-dark);
  }
  .breadcrumbs {
    color: var(--text-secondary-dark);
  }
  .breadcrumbs__link {
    color: var(--text-primary-dark);
  }
}
