:root {
  color-scheme: light dark;

  --background-primary-light: #eff1f5;
  --background-primary-dark: #1a1e23;
  --background-secondary-light: #fff;
  --background-secondary-dark: #22272e;

  --text-primary-light: #1d395c;
  --text-primary-dark: rgba(255, 255, 255, 0.9);
  --text-secondary-light: #768ba6;
  --text-secondary-dark: rgba(255, 255, 255, 0.4);

  --text-inverted: #fff;
  --text-link: #4080ff;
  --text-link-hover: #cb3efc;

  --button-primary-light: #d8deeb;
  --button-primary-dark: #424d59;
  --button-primary-hover: #662fff;
  --button-primary-active: #1d395c;

  --title-1: 32px;
  --title-1-lh: 40px;
  --title-2: 24px;
  --title-2-lh: 32px;
  --title-3: 16px;
  --title-3-lh: 24px;
  --body-1: 16px;
  --body-1-lh: 24px;
  --body-2: 14px;
  --body-2-lh: 20px;
  --body-3: 12px;
  --body-3-lh: 16px;
  --number-1: 24px;
  --number-1-lh: 32px;

  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 80px;
  --spacing-xxxl: 120px;

  --border-radius-full: 100px;
  --border-radius-xxxs: 4px;
  --border-radius-xxs: 8px;
  --border-radius-xs: 12px;
  --border-radius-s: 16px;

  --animation-fast: 0.15s;
  --animation-medium: 0.25s;
}

@font-face {
  font-family: Apercu;
  src: url(./assets/fonts/apercupro/ApercuPro.woff2) format("woff2"),
    url(./assets/fonts/apercupro/ApercuPro.woff) format("woff");
}
@font-face {
  font-family: Apercu;
  font-weight: bold;
  src: url(./assets/fonts/apercupro/ApercuPro-Bold.woff2) format("woff2"),
    url(./assets/fonts/apercupro/ApercuPro-Bold.woff) format("woff");
}
@font-face {
  font-family: Apercu;
  font-weight: 500;
  src: url(./assets/fonts/apercupro/ApercuPro-Medium.woff2) format("woff2"),
    url(./assets/fonts/apercupro/ApercuPro-Medium.woff) format("woff");
}

html {
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: var(--background-primary-light);
  font: var(--body-1) / var(--body-1-lh) Apercu, Helvetica, Arial, sans-serif;
  color: var(--text-primary-light);
}
a {
  text-decoration: none;
  color: var(--text-link);
}
a:hover {
  color: var(--text-link-hover);
  transition: color var(--animation-medium);
}
h1 {
  margin: 0 0 var(--spacing-m) 0;
  font-size: var(--title-1);
  line-height: var(--title-1-lh);
  font-weight: bold;
}
h2 {
  margin: var(--spacing-m) 0 var(--spacing-s) 0;
  font-size: var(--title-2);
  line-height: var(--title-2-lh);
  font-weight: 500;
}
h3 {
  margin: var(--spacing-m) 0 0 0;
  font-size: var(--title-3);
  line-height: var(--title-3-lh);
  font-weight: 500;
}
p {
  margin: 0 0 var(--spacing-m) 0;
}
ul {
  margin: 0 0 var(--spacing-m) 0;
}
li {
  margin: 0 0 var(--spacing-s) 0;
}
abbr {
  letter-spacing: 0.06em;
  margin-right: -0.06em;
  text-decoration: none;
}
table {
  border-spacing: 0;
}
td,
th {
  vertical-align: baseline;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-primary-dark);
    color: var(--text-primary-dark);
  }
}
