.tooltip {
  padding: var(--spacing-s);
  background: var(--background-secondary-light);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-m);
}
.tooltip__title {
  margin: 0;
}
.tooltip__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tooltip__item {
  display: flex;
  gap: var(--spacing-s);
  justify-content: space-between;
  margin: var(--spacing-xxxs) 0 0 0;
}
.tooltip__label {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-xxs);
}
.tooltip__color {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.tooltip__value {
  color: var(--text-secondary-light);
}

.tooltip__items--long {
  font-size: var(--body-2);
  line-height: var(--body-2-lh);
}
.tooltip__items--long .tooltip__item {
  margin-top: 0;
}
.tooltip__items--long .tooltip__color {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  .tooltip {
    background: var(--background-primary-dark);
  }
  .tooltip__value {
    color: var(--text-secondary-dark);
  }
}
